PORT=4003
MONGO_URI=mongodb://mongo:27017/vehicle-records-db
JWT_SECRET=dev-shared-secret-change-me
KAFKA_BROKERS=redpanda:9092
KAFKA_CLIENT_ID=vehicle-records-service
KAFKA_GROUP_ID=vehicle-records-service-group
PARKING_CORE_SERVICE_URL=http://parking-core-service:4002
CORS_ORIGIN=*
